*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.menu__container{
    width: 98%;
    height: 70px;
    position: fixed;
    bottom: 1px;
    left: 1px;
    right: 1px;
    margin: auto;
    background-color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.menu__container .item{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #787070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    transition: 0.9s;
    
}
.icon{
    font-size: 1.2rem;
}
.menu__container .item span{
    opacity: 0;
    font-size: 0.9rem;
    transition: 0.7s;
    display: none;
    
    
}
.menu__container .icon{
    /* padding-top: 10px; */
    /* margin-right: 8px; */
    opacity: 1;
    font-size: 2.5rem;
    /* transform: translateY(-10px); */
    transition: all 0.5s;
}

.menu__container li.active{
    background: #fff;
    padding: 4px 5px;
    border-bottom: 4px solid #007eff;
    transition: 0.7s ease-out;
    
}
.menu__container li.active span{
    opacity: 1;
    display: flex;
    color: #007eff;
   
}
.menu__container li.active .icon{
    color: #007eff;
    /* font-size: 2rem; */
    /* transform: translateX(0px); */
    
}
